@reference "./globals.css"; 
.ant-form-item{
    margin-bottom: 0px !important 
}
.ant-form-item-control-input-content input,
.ant-input {
  @apply bg-slate-700 border-slate-700 text-white placeholder-slate-400 focus:border-primary focus:ring-2 focus:ring-primary/50;
  transition: all 0.3s ease;
}

.ant-input:focus {
  @apply border-primary shadow-lg shadow-primary/10 text-primary;
}

.ant-input:hover:not(:focus) {
  @apply border-slate-600;
}
.ant-input:hover{
  @apply text-primary
}
