@reference "./globals.css"; 
:root{
    --primary:#213555
}

.m-1{
    margin: 4px;
}

.m-2{
    margin: 8px;
}

.m-3{
    margin: 12px;
}

.mx-1{
    margin-left: 4px;
    margin-right: 4px;
}
.mx-2{
    margin-right: 8px;
    margin-left: 8px;
}
.mx-3{
    margin-right: 12px;
    margin-left: 12px;
}

.my-1{
    margin-top: 4px;
    margin-bottom: 4px;
}
.my-2{
    margin-top: 8px;
    margin-bottom: 8px;
}
.my-3{
    margin-top: 12px;
    margin-bottom: 12px;
}



.p-1{
    margin: 4px;
}

.p-2{
    margin: 8px;
}

.p-3{
    margin: 12px;
}
.p-4{
    margin: 18px;
}
.p-5{
    margin: 25px;
}


.px-1{
    margin-left: 4px;
    margin-right: 4px;
}
.px-2{
    margin-right: 8px;
    margin-left: 8px;
}
.px-3{
    margin-right: 12px;
    margin-left: 12px;
}

.py-1{
    margin-top: 4px;
    margin-bottom: 4px;
}
.py-2{
    margin-top: 8px;
    margin-bottom: 8px;
}
.py-3{
    margin-top: 12px;
    margin-bottom: 12px;
}

.flex{
    display: flex;
}
.flex-row{
    flex-direction: row;
}

.flex-col{
    flex-direction: column;
}
.gap-1{
    gap:4px ;
}
.gap-2{
    gap:8px ;
}
.gap-3{
    gap:12px ;
}
.gap-4{
    gap:16px ;
}
.gap-5{
    gap:20px ;
}
.justify-center{
    justify-content: center;
}

.justify-start{
    justify-content: flex-start;
}

.justify-end{
    justify-content: flex-end;
}

.justify-between{
    justify-content: space-between;
}

.align-center{
    align-items: center;
}

.align-start{
 align-items: flex-start;
}

.align-end{
    align-items: flex-end;
}

.align-between{
    align-items: space-between;
}

.w-screen{
    width: 100vw;
}
.w-400{
    width: 400px;
}
.w-100{
width: 100%;
}

.w-50{
    width: 50%;
    }
.w-25{
 width: 25%;
 }


.h-100{
height: 100%;
}

.h-50{
    height: 50%;
    }
.h-25{
 height: 25%;
 }

 .text-center{
    text-align: center;
 }

 .text-left{
    text-align:left;
 }

 .text-right{
    text-align: right;
 }

 .text-sm{

    font-size: 12px;
  }
  .text-md{
    font-size: 16px;
  }

  .text-lg{
    font-size: 20px;
  }

  .text-xl{
    font-size: 24px;
  }
  .text-2xl{
    font-size: 32px;
  }

  .bg-primary{
    background-color: var(--primary)
  }
  .bg-white{
    background-color: white;
  }
  .card{
    border-radius: 4px;
    box-shadow: 0px 0px 2px  rgba(0,0,0,0.2);
  }