@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";
:root {
  --primary: #213555;
}

.layout-parent {
  @apply flex p-[10px] gap-[10px] h-screen;
}

