@reference "./globals.css"; /* 👈 This is now REQUIRED in v4 */

:root{
    --primary:#213555
}
.layout-parent{
    @apply flex p-[10px] gap-[10px] h-screen
}
.sidebar {
    background-color: var(--primary);
    @apply flex flex-col justify-between h-full rounded-[4px] py-[5px] px-[20px];
  }
  
  .sidebar-footer {
    @apply flex items-center justify-between;
  }
  
  .menu-items {
    @apply flex flex-col gap-[25px];
  }
  
  .menu-item {
    @apply flex py-[10px] gap-[10px] items-center cursor-pointer rounded-[5px] text-white
  }
  .active-menu-item{
    color: var(--primary);
    @apply bg-white 
  }
  .menu-item i {
    @apply text-[18px];
  }
  
  .menu-item span {
    @apply text-[14px];
  }
